@model WebBanGiayMoi.Models.Giay

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail">
            <img src="@Html.DisplayFor(model => model.Hinh)" alt="thumbnail" width="500px">
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="caption">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            @{
                var gia = Model.Gia;
            }
            <p><strong style="font-size:15px">Giá:</strong> <strong style="color:#f57224; font-size: 24px"> @gia.ToString("#,##0 VND")</strong></p>
            @{
                var mota = Model.Description;
            }
            <p><strong style="font-size:15px">Mô tả:</strong> <br>@Html.Raw(mota.Replace("\n", "</br>")))</p>
        </div>
    </div>
</div>
<h2>Chi tiết</h2>
@Html.Raw(Model.Content)

