@using PagedList.Mvc
@model PagedList.IPagedList<WebBanGiayMoi.Models.Giay>
@{
    ViewBag.Title = "Adidas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Sản phẩm-->
<h3 style="margin-bottom:30px;margin-top:20px;text-align:center"><u><b>Giày thương hiệu Adidas</b></u></h3>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.Name</strong>
                </div>
                <div class="panel-body">
                    @if (item.Description.Length < 110)
                    {
                        <p><strong>Mô tả: </strong>@item.Description</p>
                    }
                    else
                    {
                        <p><strong>Mô tả: </strong>@item.Description.Substring(0, 110)...</p>

                    }
                    <p><strong>Giá: </strong>@item.Gia.ToString("#,##0 VND")</p>
                    <img src="@item.Hinh" width="100%" />
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @using (Html.BeginForm("AddtoCart", "ShoppingCart"))
                        {
                            <input type="hidden" name="soLuong" value="1" required" />
                            <input type="hidden" value="@item.Id" name="idpro" required />
                            <input type="submit" value="Add to card" class="btn btn-success" />
                            @Html.ActionLink("Đọc thêm...", "Detail", new
                           {
                               id = item.Id
                           }, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a > ');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
<!--End - Sản phẩm-->
