
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["Profile"] as WebBanGiayMoi.Models.ApplicationUser;
}

<h2>MyProfile</h2>
<ul>
    <li>
        Tên: @user.Name
    </li>
    <li>
        Email: @user.Email
    </li>
    <li>
        Số điện thoại: @user.Phone
    </li>
    <li>
        Địa chỉ: @user.Address
    </li>
</ul>
@Html.ActionLink("Edit", "EditProfile")


