@model WebBanGiayMoi.Models.Giay

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    IEnumerable<WebBanGiayMoi.Models.Giay> tatcasp = ViewBag.tatcasanpham as IEnumerable<WebBanGiayMoi.Models.Giay>;
    IEnumerable<string> sanPhamGoiY = ViewBag.HienThiSanPhamGoiY as IEnumerable<string>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a.ShowSP:hover {
        color: transparent !important;
    }
</style>
<div class="row" style="margin-top:30px">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="thumbnail">
            <img src="@Html.DisplayFor(model => model.Hinh)" alt="thumbnail" width="500px">
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="caption">
            <h1>@Html.DisplayFor(model => model.Name)</h1>
            @{
                var gia = Model.Gia;
            }
            <strong style="color:#f57224; font-size: 24px"> @gia.ToString("#,##0 VND")</strong>
            @{
                var mota = Model.Description;
            }
            <div style="margin: 15px 0 5px 0">
                <strong style="font-size:14px">Mô tả:</strong>
                @Html.Raw(mota.Replace("\n", "</br>"))
            </div>
            <div><strong style="font-size:14px">Thương hiệu: </strong> @Model.Brand.Name</div>
            <div style="margin:5px 0 5px 0"><strong style="font-size:14px">Danh mục: </strong>@Model.Category.Name</div>
            @using (Html.BeginForm("AddtoCart", "ShoppingCart"))
            {
                int id = Model.Id;
                <strong style="font-size:14px">Kích cỡ: </strong>
                <input type="radio" name="size" value="35" required>
                <label>35 </label>
                <input type="radio" name="size" value="36">
                <label>36 </label>
                <input type="radio" name="size" value="37">
                <label>37 </label>
                <input type="radio" name="size" value="38">
                <label>38 </label>
                <input type="radio" name="size" value="39">
                <label>39 </label>
                <input type="radio" name="size" value="40">
                <label>40 </label>
                <input type="radio" name="size" value="41">
                <label>41 </label>
                <br />
                <strong style="font-size:14px">Số lượng: </strong>
                <input type="number" name="soLuong" value="1" required min="1" max="20" />
                <input type="hidden" value="@Model.Id" name="idpro" required />
                <br />
                <div style="margin-top:15px">
                    <input type="submit" value="Thêm vào giỏ hàng" class="btn btn-success" />

                </div>
            }

        </div>
    </div>
</div>
<!--Chi tiết sản phẩm-->
@*@Html.Raw(Model.Content)*@
<!--Kết thúc - Chi tiết sản phẩm-->
<!--Gợi ý sản phẩm-->
<h3 style="margin-bottom:30px;margin-top:40px;text-align:center"><u><b>Gợi ý cho bạn</b></u></h3>
<div class="row">
    @foreach (var item in tatcasp)
    {
        foreach (var itemgoiy in sanPhamGoiY)
        {
            if (string.Compare(item.Name, itemgoiy) == 0)
            {

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <a href="/home/detail/@item.Id" class="ShowSP">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <img src="@item.Hinh" width="100%" style="margin-bottom:15px" />
                                <div style="height:45px">
                                    @if (item.Name.Length < 40)
                                    {
                                        <strong style="font-size: 16px;color :#333333">@item.Name</strong>
                                    }
                                    else
                                    {
                                        <strong style="font-size: 16px;color :#333333">@item.Name.Substring(0, 40)...</strong>
                                    }
                                </div>
                                <div style="margin-top:25px"> <b style="font-size: 18px; color: #f57224">@item.Gia.ToString("#,##0 VND")</b></div>
                            </div>
                        </div>
                    </a>

                </div>
            }
        }
    }
</div>
<!--End - Gợi ý sản phẩm-->
