@using PagedList.Mvc
@model PagedList.IPagedList<WebBanGiayMoi.Models.Giay>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<!--Tìm kiếm-->
@using (Html.BeginForm("SanPham", "Home", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group form-inline" style="display: flex; margin-top:30px">
        <input type="Text" class="form-control col-md-10" value="@ViewBag.Keyword"
               name="searchString" placeholder="Nhập tên giày cần tìm">

        <input type="submit" class="btn btn-info" value="Tìm Giày" style="margin-left:10px;">
    </div>
    <br>
}
<!--Kết thúc - tìm kiếm-->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.Name</strong>
                </div>
                <div class="panel-body">
                    <p><strong>Mô tả: </strong>@item.Description</p>
                    <p><strong>Giá: </strong>@item.Gia</p>
                    <img src="@item.Hinh" width="100%" />
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Add to cart", "AddtoCart", "ShoppingCart", new
                   {
                       id = item.Id
                   }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Đọc thêm...", "Detail", new
                        {
                            id = item.Id
                        }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!--Phân trang-->
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a > ');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
<!--Kết thúc - phân trang-->
