@using PagedList.Mvc
@model PagedList.IPagedList<WebBanGiayMoi.Models.Giay>
@{
    ViewBag.Title = "Sản Phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a.ShowSP:hover {
        color: transparent !important;
    }
</style>

<h2 style="margin-bottom:-20px">@ViewBag.Title</h2>
<!--Tìm kiếm-->
<div>
    @using (Html.BeginForm("SanPham", "Home", FormMethod.Get, new { @class = "form-inline  btn-group" }))
    {
        <div class="form-group form-inline" style="display: flex; margin-top:30px">
            <input type="Text" class="form-control col-md-10" value="@ViewBag.CurrentFilter "
                   name="searchString" placeholder="Nhập tên giày cần tìm">

            <input type="submit" class="btn btn-info" value="Tìm Giày" style="margin-left: 10px; background: #f57224; border: 1px solid #f57224 ">
        </div>
        <br>
    }
    <!--Kết thúc - tìm kiếm-->
    <!--Sắp xếp-->
        <div class="dropdown btn-group pull-right" style=" margin-top: 30px">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Giá
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Cao đến thấp", "SanPham", new { sortOrder = "gia_desc" })</li>
                <li>@Html.ActionLink("Thấp đến cao", "SanPham", new { sortOrder = "gia" })</li>
            </ul>
        </div>
        <div class="dropdown btn-group pull-right " style=" margin-top: 30px;margin-right:5px">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Thứ tự
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Mới đến cũ", "SanPham", new { sortOrder = "thutu_desc" })</li>
                <li>@Html.ActionLink("Cũ đến mới", "SanPham", new { sortOrder = "thutu" })</li>
            </ul>
        </div>
</div>
<!--End-sắp xếp-->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="/home/detail/@item.Id" class="ShowSP">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <img src="@item.Hinh" width="100%" style="margin-bottom:15px" />
                        <div style="height:45px">
                            @if (item.Name.Length < 40)
                            {
                                <strong style="font-size: 16px; color: #333333">@item.Name</strong>
                            }
                            else
                            {
                                <strong style="font-size: 16px; color: #333333">@item.Name.Substring(0, 40)...</strong>
                            }
                        </div>
                        <div style="margin-top:10px"> <b style="font-size: 18px; color: #f57224">@item.Gia.ToString("#,##0 VND")</b></div>
                    </div>
                </div>
            </a>

        </div>

    }
</div>
<!--Phân trang-->
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /@Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("sanpham", new { page = page, sortOrder = ViewBag.CurrentSort, searchString = @ViewBag.CurrentFilter }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a > ');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
<!--Kết thúc - phân trang-->
