@model WebBanGiayMoi.Models.Cart

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebBanGiayMoi.Models.ApplicationUser user = Session["Profile"] as WebBanGiayMoi.Models.ApplicationUser;
}

<h2>Xem giỏ hàng</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Ảnh</th>
                <th>Giá</th>
                <th>Kích cỡ</th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                double total = Convert.ToDouble(item._shopping_product.Gia * item._shopping_quantity);
                <tr>
                    <td>
                        @if (item._shopping_product.Name.Length < 50)
                        {
                            <p>@item._shopping_product.Name</p>
                        }
                        else
                        {
                            <p>@item._shopping_product.Name.Substring(0, 50)...</p>
                        }

                    </td>
                    <td>
                        <img src="@Url.Content(item._shopping_product.Hinh)" style="width:100px; height:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => item._shopping_product.Gia)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item._shopping_size)
                    </td>
                    <td>

                        @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._shopping_product.Id" name="Id_Product" />
                            <input type="hidden" value="@item._shopping_size" name="Size" />
                            <input type="number" value="@item._shopping_quantity" name="Quantity" min="1" max="20" />
                            <input type="submit" value="Cập nhập số lượng" />
                        }

                    </td>
                    <td>
                        Total: @total.ToString("#,##0")
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveCart", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._shopping_size" name="Size" />
                            <input type="hidden" value="@item._shopping_product.Id" name="Id_Product" />
                            <input type="submit" value="Xóa"/>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" style="text-align:right; font-size:18px; color:red; ">Tổng tất cả: @Model.Total_Money().ToString("#,##0 VNĐ")</td>
            </tr>
            <tr>
                <td style="text-align: left; font-size: 16px"><b>Thông tin khách hàng: </b></td>
                <td style="text-align:left;font-size: 16px">@user.Name</td>
                <td style="text-align:left;font-size: 16px">@user.Phone</td>
                <td colspan="3" style="text-align:left;font-size: 16px">@user.Address</td>
                <td style="text-align:right;font-size: 16px">@Html.ActionLink("Sửa", "EditProfile", "Account")</td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right; border-top: none"><a href="/shoppingcart/CheckOut"><img src="~/Content/images/tt-tm.png" width="320"/></a></td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right; border-top: none"><a href="/shoppingcart/Payment"><img src="~/Content/images/vnpay-thanh-toan.png" width="320" /></a></td>
            </tr>
            <tr>
                <td colspan="7" style="text-align: right; border-top: none"><a href="/shoppingcart/PaymentWithPaypal"><img src="~/Content/images/mua-hang-paypal.png" width="320" /></a></td>
            </tr>




        </tfoot>
    </table>
    <a href="/home/index" class="btn btn-primary">Tiếp tục mua sắm</a>
}






