<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Images/faviconweb.ico" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title - Giày Pro</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/home/index">
                    <img src="~/Content/images/logoweb.png" width="170px">
                </a>
                @*   @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <Li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Sản phẩm
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/home/sanpham">Tất cả sản phẩm</a></li>
                            <li><a href="~/home/adidas">Adidas</a></li>
                            <li><a href="~/home/nike">Nike</a></li>
                            <li><a href="~/home/mlb">MLB</a></li>
                            <li><a href="~/home/converse">Converse</a></li>
                        </ul>

                    </Li>
                    <Li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Tin tức
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/News">Tất Cả Tin Tức</a></li>
                            <li><a href="~/Home/Camnang">Cẩm Nang Chơi Giày</a></li>
                            <li><a href="~/Home/LifeStyle">Life Style</a></li>
                            <li><a href="~/Home/KienThucThoiTrang">Kiến Thức Thời Trang</a></li>
                        </ul>

                    </Li>
                    <li>@Html.ActionLink("Về chúng tôi", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <a href="/ShoppingCart/ShowtoCart"> <img src="~/Content/images/cart.png" width="25px" height="25px" style="margin-top:10px" /> </a>
                    @Html.Action("BagCart", "ShoppingCart")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background: #222; color: #fff">
            <!--Start of Tawk.to Script-->
            <script type="text/javascript">
                var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                (function () {
                    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                    s1.async = true;
                    s1.src = 'https://embed.tawk.to/641886da4247f20fefe6f9df/1grvsthcb';
                    s1.charset = 'UTF-8';
                    s1.setAttribute('crossorigin', '*');
                    s0.parentNode.insertBefore(s1, s0);
                })();
            </script>
            <!--End of Tawk.to Script-->
            <div id="goi-dien">
                <button class="btn btn-danger" style=" background: #f57224; border: 1px solid #f57224 "><a href="tel:0368151672" style="color:#fff">Gọi: 036.815.1672</a></button>
            </div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h3>Thông tin liên hệ</h3>
                        <p style="color:#404040;margin:-10px 0 20px 0">___________________</p>
                        <p>Số điện thoại: 036.815.1672</p>
                        <p>Email: giaypro@gmail.com</p>
                        <p>Địa chỉ: Quốc lộ 1A, Hồ Chí Minh</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <h3>Về chúng tôi</h3>
                        <p style="color:#404040;margin:-10px 0 20px 0">___________________</p>
                        <p>
                            Chuyên cung cấp các loại giày mới nhất <br>
                            giá tốt, chất lượng và đẹp mắt đến người dùng.
                        </p>

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <h3>Danh mục</h3>
                        <p style="color:#404040;margin:-10px 0 20px 0">___________________</p>
                        <a href="/home/adidas/" target="_blank">Adidas</a> <br>
                        <a href="/home/nike/" target="_blank">Nike</a> <br>
                        <a href="/home/Mlb/" target="_blank">Mlb</a> <br>
                        <a href="/home/Vans/" target="_blank">Vans</a> <br>
                        <a href="/home/converse/" target="_blank">Converse</a> <br>
                        <a href="/home/valentino/" target="_blank">Valentino</a> <br>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                        <h3>Theo dõi chúng tôi</h3>
                        <p style="color:#404040;margin:-10px 0 20px 0">___________________</p>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffbquecuatoi&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=520010898424295" width="330" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        @*
        <a href="https://www.facebook.com/fbthanhkhanhhoa" target="_blank">Facebook</a> <br>
        <a href="https://www.youtube.com/channel/UCQm-DRvVj4wVZ63biHoPljw" target="_blank">Youtube</a> <br>
        <a href="https://www.twitter.com/quecuatoi" target="_blank">Twitter</a>*@
                    </div>
                </div>
                <hr> <!--Tao chan Footer-->
                <p class="copyright">Copyright 2023 - Giày Pro</p>
                <!--End - Footer-->
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
